*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    width: 100%;
    background-color: darkmagenta;
    margin-bottom: 5px;
    text-align: center;
}
.navigation{
    height: 100px;
    width: 100%;
    background-color: chartreuse;
    margin-bottom: 5px;
    text-align: center;
}
.content1{
    height: 200px;
    width: 20%;
    background-color: gray;
    float:left;
    margin-bottom: 5px;
    margin-right: 1%;
    text-align: center;
}
.content2{
    height: 200px;
    width: 20%;
    background-color: gray;
    float: right;
    margin-bottom: 5px;
    overflow: auto;
    margin-right: 0%;
    margin-left:1%;
    text-align: center;
}
.main{
    height: 200px;
    width: 58%;
    background-color: burlywood;
    margin-bottom: 5px;
    overflow: auto;
    float: left;
    text-align: center;
    
}
.footer{
    height: 100px;
    width: 100%;
    background-color: darkmagenta;
    clear: both;
    text-align: center;
}